@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h3>Welcome to Dashboard Rajiv </h3>
        <a href="/Account/Logout" class="btn btn-danger">Logout</a>
    </div>
    <hr />
    <p>This is a secure area. Only logged-in users can see this.</p>
</div>

